In [9]:
import pandas as pd
from OlympicsCSV import Olympics #OlympicsCSV is the class I created.
olympics = Olympics(pd.read_csv('olympics.csv', delimiter=",", index_col=0, skiprows=1))

In [3]:
print(str.center("Data loaded from file and formatted (Task 1)", 100, " "))
olympics.data.head()

                            Data loaded from file and formatted (Task 1)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [4]:
print(str.center("Series of first object (Task 2)", 100, " "))
olympics.getFirstCountry()

                                  Series of first object (Task 2)

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan , dtype: object

In [5]:
print("Most Summer Gold Medals (Task 3):", olympics.mostSummerGolds())

Most Summer Gold Medals (Task 3): United States

In [6]:
print("Most Summer to Winter Medals Difference (Task 4):", olympics.mostGoldDifference())

Most Summer to Winter Medals Difference (Task 4): United States

In [7]:
print("Most Summer to Winter Medals Difference, minimum 1 won and relative to total (Task 5):", olympics.mostRelativeGoldDifference())

Most Summer to Winter Medals Difference, minimum 1 won and relative to total (Task 5): Bulgaria

In [8]:
print(str.center("Series of weighted points (Task 6)", 100, " "))
olympics.calculatePoints()

                                 Series of weighted points (Task 6)

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
                                    ...
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64