In [1]:
print("""String: are used to storing words or combinations of words having letters, numbers, special characters, etc.

Why?
Strings are like an array of characters that can be accessed like array elements. This structure is used because it 
depicts the textual representation of data. In data science and Machine, learning Strings are a crucial ingredient 
for labeling the data. Strings can further be used for creating classical dictionary programs.

When?
Strings are rigorously used for prompting the users for input or any other message.

Where?
Strings are used in text comparison, OOP (to.string() methods), and string concatenation.

""")

String: are used to storing words or combinations of words having letters, numbers, special characters, etc.

Why?
Strings are like an array of characters that can be accessed like array elements. This structure is used because it
depicts the textual representation of data. In data science and Machine, learning Strings are a crucial ingredient
for labeling the data. Strings can further be used for creating classical dictionary programs.

When?
Strings are rigorously used for prompting the users for input or any other message.

Where?
Strings are used in text comparison, OOP (to.string() methods), and string concatenation.

In [2]:
print("Example 1")
name = "Arose Niazi"
name[:name.find(" ")]

Example 1

'Arose'

In [3]:
print("Example 2")
name[name.find(" ")+1:]

Example 2

'Niazi'

In [4]:
print("Example 3","This is an example of multi line string with escape characters as well")
message = """Hey,
\tI hope you are all right last night you didn't come only to play 'Among us'.
Your one and only,
Arose Niazi"""

print(message)

Example 3 This is an example of multi line string with escape characters as well
Hey,
	I hope you are all right last night you didn't come only to play 'Among us'.
Your one and only,
Arose Niazi

In [5]:
print("""List: A list is a collection. It's ordered and changeable which allows duplicates as well.

Why?
A list is used for storing data in an ordered/unordered manner statically inside the memory. 
It works like arrays in 'Java' and 'C'.

When?
Lists are used when we have to elements of specific data types inside the memory in a specific order.
This data could be ascending or descending depending on the data.

Where?
Lists are used in applications where a list of data has to be stored. 
For example, names of products for a business, etc. They are also used in backend programming as Adjacency Matrices.

""")

List: A list is a collection. It's ordered and changeable which allows duplicates as well.

Why?
A list is used for storing data in an ordered/unordered manner statically inside the memory.
It works like arrays in 'Java' and 'C'.

When?
Lists are used when we have to elements of specific data types inside the memory in a specific order.
This data could be ascending or descending depending on the data.

Where?
Lists are used in applications where a list of data has to be stored.
For example, names of products for a business, etc. They are also used in backend programming as Adjacency Matrices.

In [6]:
print("Example 1")
fruits = ['Apple', 'Bananana', 'Grape', 'Mango', 'Orange']
fruits

Example 1

['Apple', 'Bananana', 'Grape', 'Mango', 'Orange']

In [7]:
print("Example 2")
gta_games = ['Grand Theft Auto', 'Grand Theft Auto 2', 'Grand Theft Auto 3', 'Grand Theft Auto: Vice City', 'Grand Theft Auto: San Andreas']
gta_games

Example 2

['Grand Theft Auto',
 'Grand Theft Auto 2',
 'Grand Theft Auto 3',
 'Grand Theft Auto: Vice City',
 'Grand Theft Auto: San Andreas']

In [8]:
print("Example 3")
ash_pokemon = ['Pikachu', 'Caterpie', 'Pidgeotto', 'Bulbasaur', 'Charmander', 'Squirtle']
ash_pokemon

Example 3

['Pikachu', 'Caterpie', 'Pidgeotto', 'Bulbasaur', 'Charmander', 'Squirtle']

In [9]:
print("""Dictionaries: A dictionary is a collection that is unordered, changeable, and indexed. In Python dictionaries 
are written with curly brackets, and they have keys and values.

Why?
Dictionaries are used because they have labeled data which is very useful when it comes to Machine learning where 
Annotation is one of the keys that is done very efficiently by dictionaries.

When?
Dictionaries are used when labeled data with key values is needed which are predefined or can be redefined by the 
user as well.

Where?
Dictionaries are used in applications like profile management systems where different data has to be stored that 
is associated with different attributes.

""")

Dictionaries: A dictionary is a collection that is unordered, changeable, and indexed. In Python dictionaries
are written with curly brackets, and they have keys and values.

Why?
Dictionaries are used because they have labeled data which is very useful when it comes to Machine learning where
Annotation is one of the keys that is done very efficiently by dictionaries.

When?
Dictionaries are used when labeled data with key values is needed which are predefined or can be redefined by the
user as well.

Where?
Dictionaries are used in applications like profile management systems where different data has to be stored that
is associated with different attributes.

In [10]:
print("Example 1")
goku_a_name = ['Goku', 'Kakarot']
goku_m_name = ['Son Goku', 'Kakarot']
goku = {
    "Anime Name": goku_a_name, 
    "Manga Name": goku_m_name,
    "Race": "Sayian",
    "Height (CM)": 175
}
goku

Example 1

{'Anime Name': ['Goku', 'Kakarot'],
 'Manga Name': ['Son Goku', 'Kakarot'],
 'Race': 'Sayian',
 'Height (CM)': 175}

In [11]:
print("Example 2")
goku.update({
    "Weight (KG)" : 62,
    "Gender" : "Male",
    "Alive" : True
})
goku

Example 2

{'Anime Name': ['Goku', 'Kakarot'],
 'Manga Name': ['Son Goku', 'Kakarot'],
 'Race': 'Sayian',
 'Height (CM)': 175,
 'Weight (KG)': 62,
 'Gender': 'Male',
 'Alive': True}

In [12]:
print("Example 3")
del goku['Manga Name']
goku['Alive'] = False
goku

Example 3

{'Anime Name': ['Goku', 'Kakarot'],
 'Race': 'Sayian',
 'Height (CM)': 175,
 'Weight (KG)': 62,
 'Gender': 'Male',
 'Alive': False}

In [13]:
print("""Tuples: A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a 
list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike mutable lists.

Why?
Tuples are used because they can have multiple data types and are immutable which makes them secure and better than 
other data structures as they are Read Only.

When?
Tuples are used when we need to store data of different nature. A tuple lets us “chunk” together with related information 
and use it as a single thing.  

Where?
Tuples are used in Machine learning and programming algorithms as a means to group data like done with lists.

""")

Tuples: A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a
list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike mutable lists.

Why?
Tuples are used because they can have multiple data types and are immutable which makes them secure and better than
other data structures as they are Read Only.

When?
Tuples are used when we need to store data of different nature. A tuple lets us “chunk” together with related information
and use it as a single thing.

Where?
Tuples are used in Machine learning and programming algorithms as a means to group data like done with lists.

In [14]:
print("Example 1: Creating")
my_name = ("Muhammad", "Arose", "Sibram")
my_name

Example 1: Creating

('Muhammad', 'Arose', 'Sibram')

In [15]:
print("Example 2: Adding Two as it can not be modified.")
surname = ("Khan", "Niazi", "Bharamkhel")
complete_name = my_name + surname
complete_name

Example 2: Adding Two as it can not be modified.

('Muhammad', 'Arose', 'Sibram', 'Khan', 'Niazi', 'Bharamkhel')

In [16]:
print("Example 3: Deleting")
del complete_name
complete_name

Example 3: Deleting

NameError: name 'complete_name' is not defined

In [17]:
print("""Sets: A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

Why?
Sets are a mathematical notion of sets that make mathematical problems easy to solve because of which they are used widely.

When?
Sets are used whenever there is a need for highly optimized checking of data in systems or mathematical problems. 
For example, a set of +ve values and –ve values which represent graphical curves in a mathematical problem.

Where?
Sets are used in applications related to the structure known as hash tables. Wherever the concept of hashing is used there 
is a wide possibility of using sets for the sake of ease. E.g.: Phone Books. 

""")

Sets: A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

Why?
Sets are a mathematical notion of sets that make mathematical problems easy to solve because of which they are used widely.

When?
Sets are used whenever there is a need for highly optimized checking of data in systems or mathematical problems.
For example, a set of +ve values and –ve values which represent graphical curves in a mathematical problem.

Where?
Sets are used in applications related to the structure known as hash tables. Wherever the concept of hashing is used there
is a wide possibility of using sets for the sake of ease. E.g.: Phone Books.

In [18]:
print("Example 1: Creating")
prime = [2, 3, 5, 7, 11]
prime = set(prime)
prime

Example 1: Creating

{2, 3, 5, 7, 11}

In [19]:
print("Example 2: Adding/Updating")
prime.add(13)
prime.update([17, 19, 23])
prime

Example 2: Adding/Updating

{2, 3, 5, 7, 11, 13, 17, 19, 23}

In [20]:
print("Example 3: Adding/Updating")
prime.discard(5)
prime.pop()
prime

Example 3: Adding/Updating

{3, 7, 11, 13, 17, 19, 23}

In [21]:
print("""Dataframe: A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

Why?
A dataframe is used to represent data in form of a table i.e. rows and columns.

When?
When manipulating large data, the data frame makes it easier to work on it. We can edit columns, rows do calculations on all at the same time
and much more. 

Where?
Dataframe is used where a lot of calculations/manipulation of data is required. Usually in applications related to data analysis or 
data manipulation. 

""")

Dataframe: A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

Why?
A dataframe is used to represent data in form of a table i.e. rows and columns.

When?
When manipulating large data, the data frame makes it easier to work on it. We can edit columns, rows do calculations on all at the same time
and much more.

Where?
Dataframe is used where a lot of calculations/manipulation of data is required. Usually in applications related to data analysis or
data manipulation.

In [26]:
import pandas as pd
print("Example 1: Creating")
cousins_data = {
    'Name': ['Afreen', 'Arooj', 'Nigarish', 'Sarosh', 'Roshaan', 'Jazib', 'Rahima', 'Farasat', 'Faiq', 'Shafaq', 'Meeral', 'Shafay'],
    'Age': [35, 32, 31, 28, 28, 27, 24, 23, 21, 20, 20, 14],
    'Gender' : ['M','F','M','M','M','M','F','M','M','F','F','M'] 
}
cousins = pd.DataFrame(cousins_data)
cousins

Example 1: Creating

        Name  Age Gender
0     Afreen   35      M
1      Arooj   32      F
2   Nigarish   31      M
3     Sarosh   28      M
4    Roshaan   28      M
5      Jazib   27      M
6     Rahima   24      F
7    Farasat   23      M
8       Faiq   21      M
9     Shafaq   20      F
10    Meeral   20      F
11    Shafay   14      M

In [27]:
print("Example 2: Changing Index")
cousins.index = cousins['Name']
cousins

Example 2: Changing Index

              Name  Age Gender
Name
Afreen      Afreen   35      M
Arooj        Arooj   32      F
Nigarish  Nigarish   31      M
Sarosh      Sarosh   28      M
Roshaan    Roshaan   28      M
Jazib        Jazib   27      M
Rahima      Rahima   24      F
Farasat    Farasat   23      M
Faiq          Faiq   21      M
Shafaq      Shafaq   20      F
Meeral      Meeral   20      F
Shafay      Shafay   14      M

In [28]:
print("Example 3: Dropping Column")
cousins.drop(["Name"], axis = 1, inplace = True)
cousins

Example 3: Dropping Column

          Age Gender
Name
Afreen     35      M
Arooj      32      F
Nigarish   31      M
Sarosh     28      M
Roshaan    28      M
Jazib      27      M
Rahima     24      F
Farasat    23      M
Faiq       21      M
Shafaq     20      F
Meeral     20      F
Shafay     14      M